#main {
    margin-top: 100px;
}

#world canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#workbench-test {
    display: block;
    border: 1px inset;
}

#workbench .size-input {
    width: 100px;
}